<%- include("partials/header"); -%>

<!-- Bio -->
<div class="body text-center">
    <div class="container">
        <div class="main-body">
            <h2>Christopher A. Pacheco</h2>

            <p class="text-start">Christopher Pacheco is a true California native, born at Stanford Hospital in early 1961. Growing up in the Bay Area, he began his pastry “career” at the age of 10 as he developed his love of food and baking by creating numerous delectable delights for his family. At age 18 he knew he must pursue his passion for food by attending the recently founded California Culinary Academy in San Francisco. In 1980, after the rigorous 18 month  culinary education Christopher graduated with Honors in Pastry with the highest final test score of his class. His first post graduate position, he was fortunate to work locally under a certified French Master Pastry Chef. His youth and eagerness to explore new places and ideas led him to Denver, Colorado where he had 2 different positions as a Pastry Chef in Hotel and Restaurant situations. The cold winters brought him back to a California and a 5 year stint with Fresco Corporation on the Bay Area Peninsula. His employment spawned from Pastry Chef to Kitchen Manager and saw him supervising and managing 8 employees for 3 different locations. In 1989 an amazing opportunity arose to create a high quality scratch bakery line for a renowned family owned upscale supermarket in the fast growing Silicon Valley, called Draeger’s. He spent 12 years with them, beginning in the back warehouse of the smallest store they owned, producing quality baked products. With time and growth, he eventually became the Head Pastry Chef of a multi million 3 store operation that runs a baking facility 24 hours a day, supervising 30 employees. After 20 years of experience, the desire to buy his first home led Christopher to Sacramento. For the next three years, Christopher served as the Executive Pastry Chef at Ettore’s European Bakery. As well as fulfilling his daily role as supervisor of a million dollar Pastry operation, this position enabled Christopher to gain much exposure making several local television appearances and also preparing desserts for the Governor and First Lady of California. Christopher is now the Pastry Chef for Bella Bru Baking Company, a wholesale bakery serving the needs of four retail Bella Bru locations and several wholesale accounts including Embassy Suites, Sheraton Grand, and Hyatt Hotels.</p>

            <img class="thumb" src="/images/presents.png" alt="presents-cake">
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>
