<%- include("partials/header"); -%>

        <!-- Welcome -->
        <div class="body text-center">
            <div class="container">
                <div class="main-body">
                    <h1>Welcome to BossBaker.com</h1>
                    <img src="/images/cake.png" alt="cake">
                    <p>Allow me to present my professional qualifications to you. Select any of the links above for information about me.</p>
                    <p>Christopher Pacheco</p>
                </div>
            </div>
        </div>

<%- include("partials/footer"); -%>
