<%- include("partials/header"); -%>

<div class="body text-center">
    <div class="letter-container">
        <img src="/images/letter014.jpg" alt="letter2">
    </div>
</div>

<%- include("partials/footer"); -%>
