<%- include("partials/header"); -%>

<div class="body text-center">
  <div class="letter-container">
    <img src="/images/letter013.jpg" alt="letter" />
  </div>
</div>

<%- include("partials/footer"); -%>
