<%- include("partials/header"); -%>

        <!-- Welcome -->
        <div class="body">
            <div class="container">
                <div class="main-body">
                    <h2>Night owls: While many are having sweet dreams, he's busy making them come true</h2><br>

                    <h5>By Cynthia Hubert -- Bee Staff Writer Published 12:01 am PDT Sunday, September 3, 2006</h5> <br>

                    <p>Somewhere in Sacramento this morning, a lucky soul is biting into a fruit tart, moaning in ecstasy over its buttery crust, creamy filling and fresh berries. <br><br>



                        And never giving a thought to pastry chef Chris Pacheco, who created this edible work of art while its consumer was deep in snoring mode. <br><br>



                        At a time of day when automatic sprinklers are switching on and streets are roamed mostly by police officers cruising for bad guys, Pacheco and his Bella Bru bakery crew are in constant motion inside a brightly lit industrial building on the south side of town. They are stirring batter, baking pies, decorating cakes and filling eclairs that within hours will be in the hands of customers in grocery stores, coffee shops and fancy restaurants. <br><br>



                        Yes, it's a sweet job, says Pacheco, who trained under a French master and has been in the business for more than two decades. But it's not, well, a cakewalk. <br><br>



                        His day begins just after 3 a.m., when he ties a bandanna around his head, puts on baggy clothes and tennis shoes and, with his wife and two daughters slumbering in their Arden Arcade home, heads for the "office" off of Freeport Boulevard. <br><br>



                        It is not a schedule that particularly suits Pacheco, who at age 45 runs at the pace of an Energizer Bunny. <br><br>



                        "I can't even tell you what drives me to come to work at this time of day," he says, sliding across a flour-sprinkled floor hours before sunrise, a cup of thick joe firmly in hand. "I don't think your body ever gets used to this. But once I'm here, I'm on. I only have one speed." <br><br>



                        At eye level above the metal table where he will mix, fold, chop and slice, Pacheco reviews the day's orders. They include a strawberry shortcake with the words "Congratulations Amber" across the top, five chocolate mousse cakes for Chops steakhouse, tiramisu cakes, "Chocolate Torture" cookies and a pear tart. In the back of the room, one of his colleagues is accenting a cake with thin slices of sugared oranges. Aromas from freshly baked loaves of rye bread and croissants are starting to waft from the ovens. <br><br>



                        Pacheco is a whirlwind. He grabs a case of eggs and starts cracking and separating the yolks from the whites. He corrals a baking rack. He adjusts the temperature on an oven. He unfurls the cotton case that contains his chef's tools, pulling out a melon baller and a favorite knife. The sooner he finishes, the sooner he can get home to his spouse, Joy Ruzicka, also a trained pastry chef whose primary job now is mom to Allegria, 13, and Avalon, 10. <br><br>



                        Pacheco's workday will end at about noon. He'll hit the road, fighting the traffic he is happy to avoid on the way in. At home, he'll take a short nap before preparing dinner for the family. He'll catch a few hours of sleep, then tiptoe back into the darkness to make the stuff of morning smiles.</p><br><br>
                    <h5>Chris Pacheco</h5>
                    <p>Age: 45 Job: Pastry chef Hours: 3:30 a.m. to noon, five days a week</p>
                    <h5>About the writer:</h5>
                    <p>The Bee's Cynthia Hubert can be reached at (916) 321-1082 or <a href="mailto:chubert@sacbee.com">chubert@sacbee.com.</a></p>
                    <div class="text-center">
                        <img class="thumb" src="/images/kitchen.jpg" alt="kitchen">
                    </div>
                </div>
            </div>
        </div>


<%- include("partials/footer"); -%>
