<%- include("partials/header"); -%>

<!-- Resume -->
<div class="body">
    <div class="container">
        <div class="main-body">
            <div class="resume">
                <h2>Christopher A. Pacheco</h2>
                <p>916-505-5983
                |
                <a href="mailto:bossbaker1@yahoo.com">bossbaker1@yahoo.com</a>
                </p>
                <br>
                <h3>PROFESSIONAL  EXPERIENCE</h3>
                <h4>Pastry Chef, Bella Bru Baking Company, Sacramento California</h4>
                <h4>(December 2003 to Present)</h4>

                    <ul>
                        <li>
                            Employed as Pastry Chef to oversee the Bakery and Pastry production and to raise the standards of an already popular American line of cakes and pastries.
                        </li>
                        <li>
                            Involved in the daily bakery operations of Bella Bru Bakery to facilitate training and to control food and labor costs.
                        </li>
                        <li>
                            Responsible for the development and documentation of all pastry recipes and pastry production systems.
                        </li>
                        <li>
                            Supervise the activities of 24 hour bakery production, supplying bakery goods to four retail locations and numerous wholesale accounts.
                        </li>
                        <li>
                            Responsible for the purchasing of all food and paper products. Shops alternate vendors to achieve lowest food cost percentage possible.
                        </li>
                        <li>
                            Appeared three times as guest Chef on News10 mid day.
                        </li>
                    </ul>

                    <h4>Pastry Chef, Schat's Courthouse Bakery & Cafe, Ukiah California</h4>
                    <h4>(October 2003 to November 2003)</h4>

                    <ul>
                        <li>
                            Employed as a consultant to develop and document new pastry recipes and pastry production.
                        </li>
                    </ul>

                    <h4>Executive Pastry Chef, Ettore's European Bakery, Sacramento California</h4>
                    <h4>(August 2000 to March 2003)</h4>

                    <ul>
                        <li>
                            Employed as Executive Pastry Chef to oversee the Bakery and Pastry production and to uphold the standards of a fine european line of cakes and pastries.
                        </li>
                        <li>
                            While employed, Ettore's had seen increased bakery sales for every bakery holiday (Halloween,Thanksgiving, Christmas, etc.) as much as 9% over the previous year.
                        </li>
                        <li>
                            Managed complete bakery operations for Ettore Ravazollo with annual bakery and pastry sales over 2 million dollars.
                        </li>
                        <li>
                            Designed and decorated custom wedding cakes. Wedding cake sales reached a record high of 73,000 dollars for the year 2001.
                        </li>
                        <li>
                            Developed new desserts for catering events for as many as 1000 people. Often developing desserts for the Governor and First Lady Davis.
                        </li>
                        <li>
                            Supervised the activities of 24 hour bakery production, supplying bakery goods to two retail locations.
                        </li>
                        <li>
                            Made several guest Chef appearances on local television stations.
                        </li>
                        <li>
                            Responsible for the purchasing and inventory control of all bakery products.
                        </li>
                    </ul>

                    <h4>Head Pastry Chef, Draeger's Supermarket, Menlo Park California</h4>
                    <h4>(August 1988 to July 2000)</h4>

                    <ul>
                        <li>
                            Employed as Head Pastry Chef to develop and produce an entire line of signature scratch bakery products to replace out of house bakery sales.
                        </li>
                        <li>
                            Managed complete bakery kitchen operations for a family owned upscale supermarket chain. In-house bakery production sales grew from Zero to 3.1 million dollars annually.
                        </li>
                        <li>
                            Supervised the production of 110 finished items.
                        </li>
                        <li>
                            Hired and trained production staff to a maximum of thirty four employees.
                        </li>
                        <li>
                            Responsible for the development and documentation of all pastry recipes and pastry production systems.
                        </li>
                        <li>
                            Coordinated, scheduled and supervised the activities of 24 hour bakery production, supplying bakery goods to three retail locations.
                        </li>
                        <li>
                            Responsible for the purchasing of all food and paper products. Negotiated prices to achieve lowest food cost percentage possible.
                        </li>
                        <li>
                            Negotiated competitive bids when purchasing bakery equipment.
                        </li>
                        <li>
                            Involved in the design and layout of the current production facility and worked with design team to create what will be Draegers central commissary production facility to accommodate future production increases.
                        </li>
                    </ul>

                    <h4>Corporate Chef, Lazlo's Inc., Lincoln Nebraska</h4>
                    <h4>(June 1997 to September 1997)</h4>

                    <ul>
                        <li>
                            Employed as Corporate Chef to assist and oversee in the kitchen operations for two restaurants, Lazlo's Brewery & Grill  and JaBrisCo Restaurant.
                        </li>
                        <li>
                            Involved in the daily kitchen operations of JaBrisCo to facilitate training and to control food and labor costs.
                        </li>
                        <li>
                            Developed menu items for Lazlo's Grill and JaBrisCo.
                        </li>
                        <li>
                            Developed Menu for the first in a series of Special Brewery Dinners served in the Brewery production area. Assisted in Brewery Dinner planning and production.
                        </li>
                    </ul>

                    <h4>Head Pastry Chef, The Pantry Catering, Denver, Colorado</h4>
                    <h4>(1982 to 1983)</h4>

                    <ul>
                        <li>
                            Initially employed as Assistant Pastry Chef, promoted to Head Pastry Chef.
                        </li>
                        <li>
                            Supervised the activities of two employees and served as liaison with the kitchen in regards to supplies and production. Coordinated special catering orders.
                        </li>
                        <li>
                            Produced a full line of  European desserts, pastries, cookies, and breads.
                        </li>
                    </ul>

                    <h4>Head Pastry Chef, The Brown Palace Hotel, Denver, Colorado</h4>
                    <h4>(1982)</h4>

                    <ul>
                        <li>
                            Supervise the activities of five employees providing breads, pastries, desserts, and cakes for four restaurants and the Grand Ballroom.
                        </li>
                        <li>
                            Control inventory, recruit new personnel as needed and develop new recipes and menus.
                        </li>
                    </ul>

                    <h4>Second Pastry Chef, The Parisian Market, Sunnyvale, California</h4>
                    <h4>(1981 to 1982)</h4>

                    <ul>
                        <li>
                            Developed extensive experience in basic and advanced pastry preparations under the supervision of certified French Master Pastry Chef François Gaeng.
                        </li>
                    </ul>

                    <h4>EDUCATION AND OTHER TRAINING</h4>
                    <p>California Culinary Academy, San Francisco, California

                        1980 Honor Graduate of the PROFESSIONAL CHEF curriculum. Graduated with the highest test score in the class after sixteen months of intensive training under

                        Master Pastry Chef Bo Inge Friberge.</p>

                    <p>Participated in work study program aboard the S.S. Oceanic Independence for American Hawaii Cruises, serving as assistant to the Pastry Chef.</p>

                    <h4>PROFESSIONAL  REFERENCE</h4>

                    <p>Kevin Buck - Sales

                        JBS Bake Service

                        23125 Bernhardt St

                        Hayward, CA 94545

                        1-877-JBS-1913

                        510-909-5862</p>
                    <br>
                    <p>Marcus Coy - Wedding Cake Designer and Consultant

                        Draeger’s Supermarkets

                        Administrative Office and Production Facility

                        291 Utah Street

                        South San Francisco, CA. 94080

                        650-244-6501</p>
                    <br>
                    <p>Richard Draeger - President

                        Draeger's Supermarkets Inc.

                        Administrative Office and Production Facility

                        291 Utah Avenue,

                        South San Francisco, CA  94080

                        650-244-6500</p>
                    <br>

                    <h4>PERSONAL REFERENCES</h4>

                    <p>Shawntel Case

                        Sacramento, CA

                        707-332-1886</p>
            </div>
        </div>
    </div>
</div>


<%- include("partials/footer"); -%>
